<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nflevents.android.core">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="false"
            android:allowClearUserData="true"
            android:largeHeap="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/project_library_name">

        <service
            android:name="com.nflevents.android.core.http.rest.RestService"
            android:label="@string/project_library_name"
            android:exported="false" />

    </application>

</manifest>
